<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160324001-Quartz2D-CopeUIImageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D58C20D21CA42AA200858C18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58C20EB1CA42AA200858C18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58C20F61CA42AA200858C18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
